---
import Layout from '../../layouts/Layout.astro';
import OpenChatCta from '../../components/OpenChatCta.astro';
---
<Layout>
  <section style="padding:2rem 0;">
    <h1 style="font-size:2rem;margin:0 0 .5rem;">Markets</h1>
    <p style="margin:0 0 1rem;">Explore solutions by market segment.</p>
    <ul>
      <li><a href="/markets/growers">Growers</a></li>
    </ul>
    <div style="margin-top:1rem;">
      <OpenChatCta />
    </div>
  </section>
</Layout>
