---
import AgroFreshLayout from '../../../layouts/AgroFreshLayout.astro';
---
<AgroFreshLayout>
  <section style="padding:2rem 0;">
    <h1 style="font-size:2rem;margin:0 0 .5rem;">Resources</h1>
    <p style="margin:0 0 1rem;">Case studies and best practices.</p>
    <ul>
      <li><a href="/resources/zalar-farms">Customer Success: Example Farm</a></li>
    </ul>
  </section>
</AgroFreshLayout>
