---
import Layout from '../layouts/Layout.astro';
import OpenChatCta from '../components/OpenChatCta.astro';
---
<Layout>
  <section style="padding:2rem 0;">
    <h1 style="font-size:2rem;margin:0 0 .5rem;">Welcome to Salient Demo</h1>
    <p style="margin:0 0 1rem;">A simple host website that links to our backend HTMX chat interface.</p>
    <OpenChatCta />
  </section>
</Layout>
