---
import { CHAT_TARGET } from '../lib/chatTarget';
---
<a href={CHAT_TARGET} class="btn btn-brand" style="display:inline-block;padding:.6rem 1rem;border-radius:.5rem;text-decoration:none;">Open Chat</a>
